<h1 id="title"></h1>
<hr />
<div id="models"></div>

<script type="text/javascript">
fetch('/_config').then(response => response.json().then(config => {

  // set title
  document.getElementById('title').innerHTML = config.title;

  // set models
  config.models.forEach(model => {
    const button = document.createElement('button');
    button.innerHTML = model;
    document.getElementById('models').appendChild(button);
  });
}));
</script>
