<h1 id="title"></h1>
<table id="models">
  <thead>
    <tr>
      <th>Table</th>
      <th># of Rows</th>
      <!-- <th>Add item</th> -->
    </tr>
  </thead>
  <tbody>
    <!-- Generated Code -->
  </tbody>
</table>

<script type="text/javascript">
fetch('/_config')
.then(response => response.json().then(config => {

  // set title
  document.getElementById('title').innerHTML = config.title;

  // set models
  config.models.forEach(model => {
    const a = document.createElement('a');
    const addItemTd = document.createElement('td');
    const addItemLink = document.createElement('a');
    const nameTd = document.createElement('td');
    const numOfRowsTd = document.createElement('td');
    const tr = document.createElement('tr');

    a.innerHTML = model;
    a.href = `/models/${model}`;
    nameTd.appendChild(a);

    addItemLink.innerHTML = 'Add item';
    addItemLink.href = `/models/${model}/create`;
    addItemTd.appendChild(addItemLink);

    tr.appendChild(nameTd);
    tr.appendChild(numOfRowsTd);
    // tr.appendChild(addItemTd); looks ugly

    document.querySelector('#models tbody').appendChild(tr);
  });

}));
// close fetch
</script>
