<h1 id="title"></h1>
<table id="models">
  <thead>
    <tr>
      <th>Table</th>
      <th># of Rows</th>
      <!-- <th>Add item</th> -->
    </tr>
  </thead>
  <tbody>
    <!-- Generated Code -->
  </tbody>
</table>

<script>
  const modelNamesAndRows = <%- JSON.stringify(modelNamesAndRows) %>;
  const title = "<%- title %>";

</script>
<script src="/js/homepage.js"></script>