<h1 id="title"></h1>
<table id="models">
  <thead>
    <tr>
      <th>Table Name</th>
      <th># of Rows</th>
    </tr>
  </thead>
  <tbody>
    <!-- Generated Code -->
  </tbody>
</table>

<script type="text/javascript">
fetch('/_config')
.then(response => response.json().then(config => {

  // set title
  document.getElementById('title').innerHTML = config.title;

  // set models
  config.models.forEach(model => {
    const tr = document.createElement('tr');
    const nameTd = document.createElement('td');
    const numOfRowsTd = document.createElement('td');
    const a = document.createElement('a');

    a.innerHTML = model;
    a.href = `/models/${model}`;

    nameTd.appendChild(a);

    tr.appendChild(nameTd);
    tr.appendChild(numOfRowsTd);

    document.querySelector('#models tbody').appendChild(tr);
  });

}));
// close fetch
</script>

<style media="screen">
html{
  font-family: consolas;
  background-color: #282a36;
  color: #50fa72;
}
a {
  color: white;
}
table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
}
#title{
  text-align: center;
}
</style>
