<% include ./partials/header %>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
    <table>
        <% for(let schema of schemas) { %>
            <tr>
                <td>
                    <a href="/schema/<%=schema%>">
                        <%= schema %>
                    </a>
                </td>
            </tr>
            <% } %>
    </table>

    <% include ./partials/footer %>