<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <a href="/">🔙</a>
    <h1><%= schema %></h1>
    <table>
        <% for(let table of tables) { %>
            <tr>
                <td>
                    <a href="/schema/<%= schema %>/<%= table %>">
                        <%= table %>
                    </a>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>