<h1 id="title"></h1>
<hr>
<form method="post"></form>

<script type="text/javascript">
  const form = document.querySelector('form');
  const submitButton = document.createElement('input');
  const model = '<%- req.params.model %>';
  const attributes = <%- JSON.stringify(sails.models[req.params.model].attributes) %>;

  // Set page title
  document.getElementById('title').innerHTML = `New '${model}' item`;

  // on form submit
  form.addEventListener('submit', event => {
    const data = {};

    event.preventDefault();

    fetch(`/${model}`, {
      method: 'POST',
      body: new FormData(form) // this is cool!
    }).then(response => {
      if(response.ok) location.href = `/models/${model}`;
    });

  });

  // create input for each attribute
  for(let key in attributes){
    const container = document.container = document.createElement('div');
    const input = document.createElement('input');
    const label = document.createElement('label');

    // create the input
    input.type = getInputType(attributes[key].type);
    input.name = key;
    input.id = `model-${key}`;

    // create the label
    label.for = input.id;
    label.innerHTML = `${key} `;

    // Append to the input container
    container.appendChild(label);
    container.appendChild(input);

    // Append to the form
    form.appendChild(container);
  }

  // add submit button
  submitButton.type = 'submit';
  form.appendChild(submitButton);

  function getInputType(attributeType){
    return {
      'string': 'text',
      'integer': 'number'
    }[attributeType];
  }
</script>
