<h1 id="title"></h1>
<hr>
<form method="post"></form>

<script type="text/javascript">
  const form = document.querySelector('form');
  const submitButton = document.createElement('input');
  const model = '<%- req.params.model %>';
  const attributes = <%- JSON.stringify(sails.models[req.params.model].attributes) %>;

  // Set page title
  document.getElementById('title').innerHTML = `New '${model}' item`;

  // on form submit
  form.addEventListener('submit', event => {
    const data = {};

    event.preventDefault();

    for(let i = 0; i < form.elements.length; i++){
      const element = form.elements[i];
      const name = element.name;
      const value = element.value;
      if(value) data[name] = value;
    }
debugger;
    fetch(`/${model}`, { method: 'POST' }).then(response => {
      if(response.ok) location.href = `/models/${model}`;
    });

  });

  // create input for each attribute
  for(let key in attributes){
    const container = document.container = document.createElement('div');
    const input = document.createElement('input');
    const label = document.createElement('label');

    input.type = 'text';
    input.name = key;
    label.innerHTML = `${key} `;
    container.appendChild(label);
    container.appendChild(input);
    form.appendChild(container);
  }

  // add submit button
  submitButton.type = 'submit';
  form.appendChild(submitButton);
</script>
