<style media="screen">
  form div{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  form div *{
    margin: 1px;
  }
  form div label {
    flex: 10;
    text-align: right;
    text-transform: capitalize;
  }
  form div input, form div select{
    padding: 2px;
    flex: 90;
    font-family: consolas;
  }
  form div input:focus, form div select:focus{
    outline-style: solid;
  }
</style>
<h1 id="title"></h1>
<hr>
<form method="post"></form>

<script type="text/javascript">
const table = '<%- req.params.model %>'; // the model table name
const recordId = <%- req.params.id || 'null' %>;
const attributes = <%- JSON.stringify(sails.models[req.params.model].attributes) %>;
</script>
<script src="/js/create-edit.js"></script>
