<div class="list-container">

  <!-- Main -->
  <div class="main">
    <h1 id="title"></h1>
    <div class="actions">
      <a href="/"><- Back</a>
      <a id="add-new" style="float:right">Add new</a>
    </div>
    <table>
      <thead>
        <tr>
          <!-- Generated Code -->
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <!-- sidebar (Control panel)-->
  <div class="sidebar">
    <div class="top">
      <h3>Control Panel</h3>
      <button class='toggle-control-panel'></button>
    </div>
    <hr>
    <div class="bottom">
      <!-- Search Form -->
      <form id='form-search'>
        <fieldset id='fieldset-search'>
          <legend>Name search</legend>

          <input id="search" type="text" name="search" value="" placeholder="Click or press / to search">

          <!-- Submit -->
          <input type="submit" />
        </fieldset>
      </form>

      <!-- Toggle Attributes -->
      <fieldset id='fieldset-attributes'>
        <legend>Attributes</legend>
        <div>
          <input id="toggle-attributes" type="checkbox" checked="checked"><label for="toggle-attributes">Toggle all</label>
        </div>
        <hr>
        <!-- Generated code goes here -->
      </fieldset>

      <!-- Sort Attributes -->
      <form id='form-sort-attributes'>
        <fieldset id='fieldset-sort-attributes'>
          <legend>Sort</legend>
          <select id='select-sort-attributes'>
            <!-- Generate code here -->
          </select>
          <input type="submit" />
        </fieldset>
      </form>
    </div>
  </div>
</div>

<style media="screen">
  html, body{
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .list-container{
    display: flex;
    height: 100%;
    padding: 0px 10px;
  }
  .main {
    flex: 85;
    overflow-x: auto;
  }
  .sidebar {
    flex: 15;
    border-width: 1px;
    border-left-style: solid;
    padding-left: 10px;
    margin-left: 10px;
  }
  .sidebar .top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .sidebar button.toggle-control-panel{
    padding: 0px 6px;
    line-height: 17px;
  }
  .sidebar h3{
    margin-bottom: 0;
  }
  .sidebar.minimized{
    flex: 1;
    padding-top: 20px;
  }
  .sidebar.minimized .top,
  .sidebar.minimized button.toggle-control-panel {
    display: inherit;
  }
  .sidebar.minimized button.toggle-control-panel:after{
    content: "◀"
  }
  .sidebar button.toggle-control-panel:after{
    content: "▶"
  }
  .sidebar.minimized *{
    display: none;
  }
  .sidebar fieldset{
    margin-bottom: 10px;
    border-width: thin;
  }
  .sidebar input[type=text], .sidebar select{
    margin: 3px 0;
    width: 100%;
  }
</style>

<script type="text/javascript">
<% console.log(req.params.modelName) %>
  // Convert server variables to front-end variables
  const currentModel = {
    'name': '<%= req.params.modelName %>',
    'attributes': <%- JSON.stringify(sails.models[req.params.modelName].attributes) %>
  };
</script>

<script src="/list.js" charset="utf-8"></script>
