<h1 id="title"></h1>

<div class="actions">
  <a id="add-new" style="float:right">Add new</a>
</div>

<table>
  <thead>
    <tr>
      <!-- Generated Code -->
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>

<script type="text/javascript">
  const model = '<%= req.params.model %>';
  document.getElementById('title').innerHTML = model;
  document.getElementById('add-new').href = `/models/${model}/create`;

  // The attributes of the current model;
  const attributes = <%- JSON.stringify(sails.models[req.params.model].attributes) %>;

  // convert to th
  for(let key in attributes){
    const th = document.createElement('th');
    th.innerHTML = key;
    document.querySelector('table thead tr').appendChild(th);
  }

  // Display the data
  fetch(`/${model}`).then(response => response.json().then(data => {
    data.forEach(item => {
      const tr = document.createElement('tr');
      for(let key in attributes){
        const td = document.createElement('td');
        td.innerHTML = item[key];
        tr.appendChild(td);
        document.querySelector('table tbody').appendChild(tr);
      }
    });
  }));
</script>
