<h1 id="title"></h1>

<div class="actions">
  <a id="add-new" style="float:right">Add new</a>
</div>

<table id="attributes">
  <thead>
    <tr>
      <!-- Generated Code -->
    </tr>
  </thead>
</table>

<script type="text/javascript">
  const model = '<%= req.params.model %>';
  document.getElementById('title').innerHTML = model;
  document.getElementById('add-new').href = `/models/${model}/create`;

  // The attributes of the current model;
  const attributes = <%- JSON.stringify(sails.models[req.params.model].attributes) %>;

  // convert to th
  for(let key in attributes){
    const th = document.createElement('th');
    th.innerHTML = key;
    document.querySelector('#attributes thead tr').appendChild(th);
  }
</script>
